<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Recipe for Your food</title>
</head>

<body>

    <header>
        <h1>CookItNow</h1> 
        <div class="search">
            <input type="text" id="searchInput" placeholder="Enter an ingredient...">
            <button id="searchButton">Search</button>
        </div>
        <div class="navigation">
            <a href="/">Home</a> 
            | 
            <a href="/team">About Us</a> 
            | 
            <div class="profile-dropdown">
                <img src="images/pp.png" alt="Profile" class="profile-pic">
                <div class="dropdown-content">
                    <a href="/settings">Create Recipe</a>
                    <a href="/welcome">Logout</a>
                </div>
            </div>          
        </div>   
    </header>

    <!-- Admin Interface -->
    <div class="admin-controls">
        <button id="addRecipeButton">Add New Recipe</button>
      </div>
      <!-- The rest of your HTML -->
      

<!-- ... rest of your HTML ... -->

<!-- Hidden form for adding new recipes -->
<div id="recipeForm" style="display:none;">
    <form>
      <!-- Form fields for the recipe -->
      <label for="recipeTitle">Title</label>
      <input type="text" id="recipeTitle" name="recipeTitle" required>
      
      <!-- Include other fields for the recipe -->
  
      <button type="submit">Submit Recipe</button>
    </form>
  </div>
  

<!-- ... -->


<!-- Categories Section -->
<section id="categories">
    <h2>Categories</h2>
    <div class="categories-container"></div> <!-- Container for categories -->
</section>

<section id="category-meals">
    <!-- Container where the meals of a clicked category will be displayed -->
</section>


<div class="meal-list">
  <div class="meal-container">
    <!-- Meal items will be added here -->
  </div>
</div>

    <!-- Container when search not by categories-->
    <div id="mealList" class="meal-list"></div>
    <div class="modal-container">
        <button id="recipeCloseBtn" class="close-button">&times;</button>
        <div class="meal-details-content">
            <!-- Content from js will be inserted here -->
        </div>
    </div>

    <script src="js/script.js"></script>
</body>

</html>